*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
}
.row{
    display: flex;
    direction: row wrap;
}
div.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
div.brick{
    background-color: blue;
}
div.coin{
    background: url('coin.gif') no-repeat;
    background-position: center;
}
div.empty{
}
#pacman{
    width: 20px;
    height: 20px;
    background: url('pacman.gif') no-repeat;
    background-size: cover;
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); */
}
.look-down{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.look-up{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.look-right{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#r2-1{

}